In [ ]:
# importing models 

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
df = pd.read_csv('/content/full_einstein_25col.csv')
df.head()

,Date,ID,y,Age,Sex,Hematocrit,Hemoglobin,RedBloodCells,Leukocytes,Platelets,...,Monocytes,Monocytes%,Lymphocytes,Lymphocytes%,Eosinophils,Eosinophils%,Basophils,Basophils%,Neutrophils,Neutrophils%
0,2019-11-01,031c2dbbb442fbf34f10b8ae8c449f20e3e28879,0,52.3,F,36.8,12.9,4.25,6.13,220,...,313,5.1,1833,29.9,270,4.4,49,0.8,3653,59.6
1,2019-11-01,07cc82b2ac0e5f5c9506f66925c2fab9a49bb2bd,0,58.3,M,44.4,14.9,4.89,5.99,148,...,288,4.8,779,13.0,78,1.3,30,0.5,4816,80.4
2,2019-11-01,0beed42a87bf4a0727f371273d6fb50610da2ede,0,69.3,M,39.7,13.5,4.44,7.42,130,...,579,7.8,2078,28.0,89,1.2,59,0.8,4615,62.2
3,2019-11-01,10af03c78251959c15d84bb8118f8dc38121ce8a,0,29.3,M,40.3,14.3,4.71,6.03,204,...,368,6.1,2430,40.3,90,1.5,42,0.7,3087,51.2
4,2019-11-01,10b7bd07f47e984a595b2b5be1e0500265964123,0,38.3,M,45.4,15.3,5.37,8.92,157,...,517,5.8,1276,14.3,98,1.1,18,0.2,7011,78.6

In [ ]:
# Knowing the dataset we have

df.shape

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
# stroing the targes in result column 

df['result'] = results

del df['y']
df.info()

In [ ]:
# Checking for missing values 

df.isnull().sum()

In [ ]:
# Spliting the dataset into train set and test set

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
features= df.columns[4:]


X = df[features]
y = df['result']


X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
# Making prediction using Logistic Regression 

lr = LogisticRegression(max_iter=10000)

lr.fit(X_train,y_train)

LogisticRegression(max_iter=10000)

In [ ]:
prediction = lr.predict(X_test)

In [ ]:
# Accuracy Score 

score=accuracy_score(y_test,prediction)
print(score)

1.0

In [ ]:
#dropping some features from the dataset and assigning it to a new variable
new_df = df.drop(['Date'], axis = 1)

In [ ]:
#dropping some features from the dataset
new_df = df.drop(['ID', 'Sex','Date'], axis = 1)

In [ ]:
y = new_df['y']
X=new_df.drop(['y'], axis = 1)
X

In [ ]:
#using DecisionTreeAlgorithm Algorithm
#making predictions and checking for accuracy of DecisionTreeAlgorithm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
model = DecisionTreeClassifier()
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
model.fit(X_train,y_train)
predictions = model.predict(X_test)
predictions
for i in range(10):
  if i == 0:
    print("negative")
  else:
    print("positive")
  print(predictions[i])

accuracy=accuracy_score(y_test,predictions)
print("Model Accuracy")
accuracy

negative
0
positive
0
positive
0
positive
0
positive
0
positive
0
positive
0
positive
0
positive
0
positive
0

0.8212461695607763

In [ ]:
#implementing logistics regression
lr = LogisticRegression(max_iter=10000)

lr.fit(X_train,y_train)
lr_prediction = lr.predict(X_test)
lr_prediction
lr_accuracy=accuracy_score(y_test,lr_prediction)
lr_accuracy

0.8712972420837589

In [ ]:
# Implementing K-Nearest Neighbors Algorithm
#Scaling the dataset 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# Implementing K-Nearest Neighbors Algorithm
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
y_pred
#checking accuracy 
kn_accuracy=accuracy_score(y_test,y_pred)

kn_accuracy

0.8685733741913517